<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="native" />
  <package id="boost_chrono-vc120" version="1.55.0.16" targetFramework="native" />
  <package id="boost_date_time-vc120" version="1.55.0.16" targetFramework="native" />
  <package id="boost_system-vc120" version="1.55.0.16" targetFramework="native" />
  <package id="boost_thread-vc120" version="1.55.0.16" targetFramework="native" />
  <package id="hypodermic_vc120" version="0.1.5.3" targetFramework="native" />
</packages>